@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap'); // Script font


$primary-color: #F8ECD1;
$secondary-color: #DEB6AB;
$font-color: #85586F;
$outline-color: rgba(238, 238, 238, 0.7);
$header-background-color: #EEE;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

html, body {
    height: 100vh;
}

body {
    background-color: $primary-color;
    color: $font-color;
}

.navbar {
    display: flex;
    min-height: 8vh;
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        li {
            list-style-type: none;
            font-weight: 900;
            font-size: 1.2rem;

            cursor: pointer;
        }
    }
}
