@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap'); // Script font

@mixin header-style {
    font-family: "Meow Script";
    background-color: $header-background-color;
    font-size: 3rem;
    padding-left: 2rem;
}

@mixin header-and-hero {
    > h1 {
        @include header-style;
    }

    .hero {
        min-height: 60vh;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        h1 {
            font-family: "Meow Script";
            text-align: center;
            font-size: 4rem;
            background-color: $outline-color;

            position: relative;
            top: 35vh;
        }
    }
}

$primary-color: #F8ECD1;
$secondary-color: #DEB6AB;
$font-color: #85586F;
$outline-color: rgba(238, 238, 238, 0.7);
$header-background-color: #EEE;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

html, body {
    height: 100vh;
}

body {
    background-color: $primary-color;
    color: $font-color;
}

.navbar {
    display: flex;
    min-height: 8vh;
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        li {
            list-style-type: none;
            font-weight: 900;
            font-size: 1.2rem;

            cursor: pointer;
        }
    }
}
