@import "./_base.scss";

.container {

    .top {
        > h1 {
            @include header-style;
        }

        .hero {
            min-height: 45vh;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

            h1 {
                font-family: "Meow Script";
                text-align: center;
                font-size: 4rem;
                background-color: $outline-color;

                position: relative;
                top: 20vh;
            }
        }
    }

    .bot {
        padding: 2rem 15rem;
        
        p {
            font-size: 1.4rem;
            text-align: justify;
        }
    }
}


