@import "./_base.scss";

.container[data-page="about"] {

    .top {
        @include header-and-hero;
    }

    .bot {
        padding: 2rem 20rem;
        
        p {
            font-size: 1.3rem;
            text-align: justify;
        }
    }
}


